html
    head
        title sharepage - test your social stories
        link(rel="icon" type="image/svg+xml" href="favicon.svg")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        script.
            function ws() {
                const sock = new WebSocket('#{wsUrl}')
                sock.onopen = function() {
                    console.log('ws open!')
                    sock.send('hello!')
                }
                sock.onmessage = function(message) {
                    console.log('ws rcvd', message)
                }
                sock.onerror = function() {
                    console.log('ws error!')
                }
            }
            ws()


    body.bg-light
        nav.navbar.navbar-dark.bg-dark
            a.navbar-brand(href="")
                img.d-inline-block.align-top(src="favicon.svg" width="30" height="30" alt="" loading="lazy")
                span.ml-2 sharepage
    
        .container-md.py-4
            h1 Image scraper
            .row
                form.col(target="json_result" action="urls" method="GET" name="json")
                    .form-group
                        label JSON URL
                        input.form-control(name="url" list="dl_json_url")

                    .form-group
                        label JQ Filter
                        a.ml-2(href="https://stedolan.github.io/jq/tutorial/" target="_blank"): span.bi ℹ️
                        input.form-control(name="filter" list="dl_json_filter")

                    button.btn.btn-primary Request

                    datalist#dl_json_url
                        option(value="https://f3.cool/api/v1/web/users/krukid/highlights?offset=0&limit=30")
                
                    datalist#dl_json_filter
                        option(value="[.data[].photo.sizes[1].url | select(.)]")
                
                .col
                    label JSON Output
                    iframe.w-100.bg-white.border.rounded(name="json_result" height="400")

            hr

            h1 Story generator
            .row
                form.col(target="image_result" action="story" method="GET" name="image")
                    .form-group
                        label Image URL
                        input.form-control(name="url" list="dl_image_url")

                    .form-group
                        label Image Geometry
                        a.ml-2(href="http://www.graphicsmagick.org/GraphicsMagick.html#details-geometry" target="_blank"): span.bi ℹ️
                        input.form-control(name="crop" list="dl_image_crop")

                    .form-group
                        label Image Gravity
                        a.ml-2(href="http://www.graphicsmagick.org/GraphicsMagick.html#details-gravity" target="_blank"): span.bi ℹ️
                        input.form-control(name="gravity" list="dl_image_gravity")

                    button.btn.btn-primary Create

                    datalist#dl_image_url
                        option(value="https://img0.f3.cool/z6sMQnl/PyPMs8K4R_540x960_background.png")
                
                    datalist#dl_image_crop
                        option(value="600x300+0+0")
                
                    datalist#dl_image_gravity
                        option(value="NorthWest")
                        option(value="North")
                        option(value="NorthEast")
                        option(value="West")
                        option(value="Center")
                        option(value="East")
                        option(value="SouthWest")
                        option(value="South")
                        option(value="SouthEast")

                .col
                    label Image Output
                    iframe.w-100.bg-white.border.rounded(name="image_result" height="400")

            hr

            h1 Story server
            .row
                form.col
                    .form-group
                        label Story ID
                        input.form-control

                    .form-group
                        label Title
                        input.form-control

                    .form-group
                        label Image
                        input.form-control(type="file")

                    button.btn.btn-primary Save

                .col
                    label Image Preview
                    canvas#image_preview.w-100.bg-white.border.rounded(height="400")
