html
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")

    body.bg-light
        nav.navbar.navbar-dark.bg-dark
            a.navbar-brand sharepage
    
        .container-md.py-4
            h1 Fetch images
            .row
                form.col(target="json_result" action="/urls" method="GET")
                    .form-group
                        label JSON URL
                        input.form-control(name="url" list="dl_json_url")

                    .form-group
                        label JQ Filter
                        a.ml-2(href="https://stedolan.github.io/jq/tutorial/" target="_blank"): span.bi ℹ️
                        input.form-control(name="filter" list="dl_json_filter")

                    button.btn.btn-primary Request

                    datalist#dl_json_url
                        option(value="https://f3.cool/api/v1/web/users/krukid/highlights?offset=0&limit=30")
                
                    datalist#dl_json_filter
                        option(value="[.data[].photo.sizes[1].url | select(.)]")
                
                .col
                    label JSON Output
                    iframe.w-100.border.border-primary.rounded(name="json_result" height="400")

            hr

            h1 Story generator
            .row
                form.col(target="image_result" action="/story" method="GET")
                    .form-group
                        label Image URL
                        input.form-control(name="url" list="dl_image_url")

                    .form-group
                        label Image Geometry
                        a.ml-2(href="http://www.graphicsmagick.org/GraphicsMagick.html#details-geometry" target="_blank"): span.bi ℹ️
                        input.form-control(name="crop" list="dl_image_crop")

                    .form-group
                        label Image Gravity
                        a.ml-2(href="http://www.graphicsmagick.org/GraphicsMagick.html#details-gravity" target="_blank"): span.bi ℹ️
                        input.form-control(name="gravity" list="dl_image_gravity")

                    button.btn.btn-primary Create

                    datalist#dl_image_url
                        option(value="https://img0.f3.cool/z6sMQnl/PyPMs8K4R_540x960_background.png")
                
                    datalist#dl_image_crop
                        option(value="600x300+0+0")
                
                    datalist#dl_image_gravity
                        option(value="NorthWest")
                        option(value="North")
                        option(value="NorthEast")
                        option(value="West")
                        option(value="Center")
                        option(value="East")
                        option(value="SouthWest")
                        option(value="South")
                        option(value="SouthEast")

                .col
                    label Image Output
                    iframe.w-100.border.border-primary.rounded(name="image_result" height="400")
